<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h1> Marvellous Infosystems </h1>
  <h2> Educating for better tommoro</h2>
</div>  
<div class="ass2" style="text-align: center">
  <h2>Assignment 2</h2>
  Text field : <input type="text">
  <h3>Marvellous Infosystems</h3>
</div>

<div style="text-align: center">
    <app-marvellous-comp></app-marvellous-comp>
</div>

<div style="text-align: center">
  <h2>Assignment 3</h2>
  <h2>Inside Root Component</h2>

  <h2><app-comp1></app-comp1></h2>
  <h2><app-comp2></app-comp2></h2> 
  
  {{fun()}}
  <br>
  {{title.length}}
  <br>
  <h3>{{name}}</h3>
  <button (click)="gun()">change</button>
</div>